
server:
  error:
    include-message: always

spring:
  application:
    name: AES

  main:
    banner-mode: off

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

  sql:
    init:
      mode: always
      schema-locations: classpath:scheme.sql

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

  threads:
    virtual:
      enabled: true

  task:
    execution:
      thread-name-prefix: Virtual-Async-

logging:
  level:
    org.aes.service: debug
